.general-business__section {
  border: 0.5px solid gainsboro;
  margin: 20px 0;
  padding: 60px 20px;
  border-radius: 10px;

  @media screen and (max-width: 500px) {
    padding: 30px 10px;
  }
}

.general-head__section {
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;

  & h4 {
    font-size: 2rem;
    font-family: $font-primary;
    font-weight: bold;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1800px) {
      font-size: xx-large;
    }

    @media screen and (max-width: 500px) {
      font-size: 1.1rem;
    }
  }
}

.faqs-head__section {
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;

  & h4 {
    font-size: 2rem;
    font-family: $font-primary;
    font-weight: bold;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1800px) {
      font-size: xx-large;
    }

    @media screen and (max-width: 500px) {
      font-size: 1.1rem;
    }
  }
}

.general-content__section {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;

  @media screen and (min-width: 1800px) {
    font-size: x-large;
  }

  @media screen and (max-width: 600px) {
    font-size: large;
  }

  @media screen and (max-width: 500px) {
    font-size: 0.9rem;
  }
}

.faqs-content__section {
  display: flex;
  margin: 20px 0;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.faqs-content-left {
  width: 100%;
  padding-right: 10px;

  @media screen and (max-width: 600px) {
    padding-right: 0px;
  }
}

.faqs-content-right {
  width: 100%;
  padding-left: 10px;

  @media screen and (max-width: 600px) {
    padding-left: 0px;
  }
}

.main-item {
  position: relative;
  border: 0.5px solid gainsboro;
  border-radius: 10px;
  margin-bottom: 15px;

  @media screen and (max-width: 500px) {
    margin-bottom: 10px;
  }
}

.main-item__checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 10;
  opacity: 0;

  &:checked ~ .main-item__content,
  &:checked ~ .faq-item__list {
    height: max-content;
    margin-bottom: 20px;
  }

  &:checked ~ .main-item__title::before {
    content: "?";
  }

  &:checked ~ .container div::before {
    content: "";
    transform: rotate(0deg);
  }

  &:checked ~ .container .main-item__icon {
    transform: rotate(90deg);
  }
}

.main-item__title,
.main-item__content,
.faq-item__list {
  margin: 0 0;
}

.main-item__title {
  position: relative;
  padding: 18px 30px 18px 80px;
  width: 95%;
  font-family: "Arial";
  font-weight: bold;
  color: $bg-color-secondary;

  @media screen and (min-width: 1800px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 0.9rem;
    padding: 12px 0 12px 60px;
  }

  &::before {
    content: "?";
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
    left: 20px;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 2rem;
    background-color: $bg-color-secondary;
    color: white;
    font-weight: 100;
    border-radius: 19px;

    @media screen and (max-width: 850px) {
      font-size: 1.7rem;
    }

    @media screen and (max-width: 600px) {
      width: 30px;
      height: 30px;
      font-size: 1.4rem;
    }
    @media screen and (max-width: 500px) {
      display: grid;
      place-items: center;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.main-item__content,
.faq-item__list {
  color: rgba(118, 118, 118, 1);
  height: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  padding: 0 5% 0 12%;

  & > li {
    margin-left: 5%;
  }

  @media screen and (min-width: 1800px) {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 0.9rem;
  }
}

.container {
  display: flex;
}

.main-item__icon {
  position: relative;
  align-self: center;
  color: $bg-color-secondary;
  transition: transform 0.1s ease-in;
}
