$bg-color-primary: #213353;
$bg-color-contrast: #2e4874;
$bg-color-secondary: #e94437;
$bg-color-secondary-hover: #ec594e;
$bg-color-three: #fdc915;
$bg-color-three-hover: #eea700;
$bg-color-button: #e94437;
$bg-color-button-hover: #ec594e;
$bg-other-color: #e9433733;
$bg-other-color-two: #f4fbff;
